
    <ion-tabs style="" class="tabs-stable tabs-icon-top">
        <ion-tab style="" title="Portfolio" icon="ion-filing" href="#/tab/portfolio">
            <ion-nav-view name="tab-portfolio"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="SubPortfolio" icon="ion-filing" href="#/tab/subportfolio">
            <ion-nav-view name="tab-subportfolio"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Assets" icon="ion-eye" href="#/tab/assets">
            <ion-nav-view name="tab-assets"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Asset Detail" icon="ion-eye" href="#/tab/assetdetail">
            <ion-nav-view name="tab-assetdetail"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
